@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@500&family=Ubuntu:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
p {
  position: relative;
  text-align: justify;
  font-size: 20px;
  margin-bottom: 80px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
  margin: 50px 200px 50px 50px;
}

h1{
    position: relative;
  font-size: 50px;
  margin-bottom: 80px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
  margin: 50px 200px 50px 50px;
}

h2{
    position: relative;
  font-size: 40px;
  margin-bottom: 80px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
  margin: 50px 200px 50px 50px;
}

h3{
    position: relative;
  font-size: 30px;
  margin-bottom: 80px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
  margin: 50px 200px 10px 50px;
}
